*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;
    background:#061528;
    color:white;

}
.hero{

    width:100%;
    min-height:100vh;

    background-image:url("../img/fond_m_edited.png");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    animation:zoomHero 18s infinite alternate;

}

@keyframes zoomHero{

0%{

background-size:100%;

}

100%{

background-size:110%;

}

}

/* Oscurecer un poco la imagen */
.overlay{

    width:100%;
    height:100%;

    background:rgba(3,12,26,.55);

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:30px;

}
.logo{

    width:150px;

    margin-bottom:30px;

}
/* Título */
h1{

    font-family:"Cormorant Garamond",serif;

    font-size:70px;

    color:#E8C36A;

}

.subtitulo{

    margin-top:15px;

    max-width:700px;

    font-size:22px;

    line-height:1.7;

}

/*==========================
    MISIÓN
==========================*/

.mision{

    padding:100px 8%;

    display:flex;

    justify-content:center;

}

.glass{

    width:100%;

    max-width:900px;

    padding:60px;

    border-radius:30px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.15);

    box-shadow:0 15px 45px rgba(0,0,0,.35);

}

.glass h2{

    text-align:center;

    font-size:55px;

    color:var(--dorado);

    margin-bottom:35px;

    font-family:"Cormorant Garamond",serif;

}

.glass p{

    font-size:19px;

    line-height:1.9;

    margin-bottom:22px;

    text-align:justify;

}

/*==========================
    PILARES
==========================*/

.pilares{

    width:90%;

    margin:80px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}

.card{

    padding:45px;

    text-align:center;

    border-radius:25px;

    background:rgba(255,255,255,.06);

    transition:.4s;

}

.card:hover{

    transform:translateY(-12px);

    background:rgba(255,255,255,.12);

}

.icono{

    font-size:55px;

}

.card h3{

    margin:25px 0;

    color:var(--dorado);

    font-size:32px;

    font-family:"Cormorant Garamond",serif;

}

.card p{

    line-height:1.8;

}

/*==========================
    FRASE
==========================*/

.frase{

    margin:120px auto;

    width:90%;

    max-width:1100px;

    text-align:center;

}

.frase blockquote{

    font-family:"Cormorant Garamond",serif;

    font-size:46px;

    color:var(--dorado);

    line-height:1.5;

}
/*==========================
    BOTÓN VOLVER
==========================*/

.volver{

    display:flex;

    justify-content:center;

    margin:90px 0 120px;

}

.volver a{

    padding:18px 35px;

    text-decoration:none;

    color:white;

    border-radius:50px;

    border:1px solid var(--dorado);

    transition:.35s;

}

.volver a:hover{

    background:var(--dorado);

    color:#071A2E;

}

/*======================================
    RESPONSIVE
======================================*/

@media(max-width:1024px){

.hero{

min-height:90vh;

}

.glass{

padding:45px;

}

.pilares{

grid-template-columns:1fr;

width:85%;

}

.frase blockquote{

font-size:38px;

}

}

@media(max-width:768px){

.logo{

width:90px;

}

h1{

font-size:42px;

}

.subtitulo{

font-size:18px;

}

.glass{

padding:30px;

}

.glass h2{

font-size:36px;

}

.glass p{

font-size:16px;

text-align:left;

}

.card{

padding:30px;

}

.card h3{

font-size:28px;

}

.frase blockquote{

font-size:28px;

}

.volver a{

width:90%;

text-align:center;

}

}

/*======================================
    RESPONSIVE
======================================*/



/*======================================
    TABLETS
======================================*/
/* 
@media (max-width:1024px){

    h1{
        font-size:55px;
    }

    .glass{
        padding:45px;
    }

    .glass h2{
        font-size:45px;
    }

    .glass p{
        font-size:18px;
    }

    .pilares{
        grid-template-columns:1fr;
        gap:30px;
        width:85%;
    }

    .frase blockquote{
        font-size:38px;
    }

}

/*======================================
    MÓVILES
======================================*/
/* 
@media (max-width:768px){

    .hero{
        min-height:75vh;
    }

    .logo{
        width:90px;
    }

    h1{
        font-size:42px;
    }

    .subtitulo{
        font-size:18px;
    }

    .glass{

        padding:30px 25px;

    }

    .glass h2{

        font-size:36px;

    }

    .glass p{

        font-size:16px;

        text-align:left;

    }

    .pilares{

        width:90%;

        grid-template-columns:1fr;

    }

    .card{

        padding:35px 25px;

    }

    .icono{

        font-size:45px;

    }

    .card h3{

        font-size:28px;

    }

    .frase{

        width:90%;

    }

    .frase blockquote{

        font-size:28px;

    }

    .volver a{

        width:90%;

        text-align:center;

        padding:18px;

    }

}

 */ 

/*======================================
    ANIMACIONES
======================================*/

/* .oculto{

    opacity:0;

    transform:translateY(80px);

    transition:all .9s ease;

}

.mostrar{

    opacity:1;

    transform:translateY(0);

} */

.card{

    position:relative;

    overflow:hidden;

}

.card::before{

content:"";

position:absolute;

top:-120%;

left:-40%;

width:60%;

height:320%;

background:rgba(255,255,255,.15);

transform:rotate(25deg);

transition:.8s;

}

.card:hover::before{

left:130%;

}

.volver a{

position:relative;

overflow:hidden;

}

.volver a::before{

content:"";

position:absolute;

left:-100%;

top:0;

width:100%;

height:100%;

background:rgba(255,255,255,.25);

transition:.5s;

}
.volver a:hover::before{

left:100%;

}